.full-page-wrappers {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../../assets/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sidebarFooterContent{
    margin-top: 20px;
}


.contentCa, .SomethingCa {
    background-color: white;
    border-radius: 5px;


}

.AddButton {
    padding: 10px 20px;
    margin: 10px 0px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.FootContainer {
    background-color: white;
}

.PaddingWhite {
    width: 100%;
    background-color: white;

    border-radius: 5px;
}
.maxHeight{
    max-height: 50vh;
}